<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Practice_Waitlist::waitlist_management" translate="title" title="Waitlist Management" module="Practice_Waitlist" parent="Magento_Catalog::catalog" sortOrder="100" resource="Magento_Backend::admin"/>
        <add id="Practice_Waitlist::waitlist_index" title="Waitlist" module="Practice_Waitlist" parent="Practice_Waitlist::waitlist_management" sortOrder="10" resource="Magento_Backend::admin" action="waitlist/index/index" />
    </menu>
</config>
